body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #b06161;
  font-family: Arial, sans-serif;
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #b06161;
  border-radius: 10px;
  margin-bottom: 20px;
}

canvas {
  background-color: #f0dbaf;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #f0dbaf;
  color: black;
  border-radius: 5px;
}

button:hover {
  background-color: #7ed7c1;
}

.score-table {
  font-size: 25px;
  background-color: #f0dbaf;
  border-radius: 5px;
}
